@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fddcc356;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 50%;
  height: 600px;
  background: url("./forest.jpg") no-repeat center / cover;
  border-radius: 8px;
}

.right {
  width: 50%;
  min-height: 400px;
  background: #2f3d3c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: #fff;
  border-radius: 8px;
  margin-left: -150px; /*!  Overlapping effect */
}

.right h1 {
  font-size: clamp(2.25rem, 3vw, 3.75rem);
  font-weight: 300;
}

.right p {
  font-size: clamp(0.875rem, 1vw, 1.125rem);
  margin: 1.5rem 0;
  font-weight: 500;
  line-height: 1.5rem;
}

.right a {
  text-decoration: none;
  color: #2f3d3c;
  text-transform: uppercase;
  background: white;
  padding: 1.25rem 2rem;
  display: inline-block;
  letter-spacing: 2px;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 2rem;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 90%;
    margin: -200px 0 0 0;
    padding: 1rem;
  }
}
